<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.java.DAO.HocVienDAOTest"/>
      <class name="test.java.DAO.KhoaHocDAOTest"/>
      <class name="test.java.DAO.ThongKeDAOTest"/>
      <class name="test.java.DAO.NhanVienDAOTest"/>
      <class name="test.java.DAO.NguoiHocDAOTest"/>
      <class name="test.java.DAO.ChuyenDeDAOTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
